<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.wpi.smartcoach"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/_HoloGreen" >
        <activity
            android:name="edu.wpi.smartcoach.activity.ProfileActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.wpi.smartcoach.activity.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.wpi.smartcoach.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.wpi.smartcoach.activity.PatientMetricsActivity"
            android:label="@string/title_activity_patient_info"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.wpi.smartcoach.activity.ExerciseProblemActivity"
            android:label="@string/title_activity_exercise_problem"
            android:screenOrientation="portrait" 
            
            android:parentActivityName="edu.wpi.smartcoach.activity.MainActivity">
        </activity>
        <activity
            android:name="edu.wpi.smartcoach.activity.DietProblemActivity"
            android:label="@string/title_activity_exercise_problem"
            android:screenOrientation="portrait" 
            
            android:parentActivityName="edu.wpi.smartcoach.activity.MainActivity">
        </activity>
        <activity
            android:name="edu.wpi.smartcoach.activity.RegistrationIntroActivity"
            android:label="@string/title_activity_registration_intro" >
        </activity>
        <activity
            android:name="edu.wpi.smartcoach.activity.ViewProfileActivity"
            android:label="@string/title_activity_view_profile" 
            android:parentActivityName="edu.wpi.smartcoach.activity.MainActivity">
        </activity>
        <activity
            android:name="edu.wpi.smartcoach.activity.SetReminderActivity"
            android:label="@string/title_activity_set_reminder" >
        </activity>
        <activity
            android:name="edu.wpi.smartcoach.activity.ShowRemindersActivity"
            android:label="@string/title_activity_show_reminders" >
        </activity>
    </application>

</manifest>
